
.activities-card {
  height: auto;
  border: 3px solid $azul;
  background-color: white;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 25px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  transition: 0.5s;

  &:hover{
    transform: scale(1.05);
  }


  .activity-detail-Link {
    color: #4D554F;

    &:hover {
        color: $naranja;
    }

    // .activity-detail-Link-inside {
    //   @media screen and (min-width: 1024px) {
    //     height: 300px;
    //   }
      
    // }

    // .activity-title {
      
    //   // @media screen and (min-width: 1024px) {
    //   //   height: 50px;
    //   // }
    // }
  }
}

  .plus-icon {
    border: none;
        border-radius: 50%;
        background-color: $blanco;
        box-shadow: 2px 2px 5px rgb(185, 185, 185);

  }

  .add-act-button {
    border: none;
    border-radius: 25px;
    box-shadow: 4px 8px 5px  #9b9b9b4b;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    padding: 5px 20px;
    transition: 0.5s;
    color: $naranja;
        
        &:hover {
            background-color: rgb(161, 161, 161);
            transform: scale(1.005);
        }

        @media screen and (max-width: 425px) {
          margin-bottom: 10px;
        }
  }

  Button.butn-standard{
      border-radius: 25px;
      border: 2px solid $azul;
      color: $azul;
      margin: 10px;
      transition: 0.5s;
      background-color: whitesmoke;

      &:hover{
        background-color: rgb(161, 161, 161);
        transform: scale(1.005);
      }
  }

  .player-wrapper {
    position: relative;
    //padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }