.activity-detail-Link {
    color: #4D554F;

    &:hover {
        color: $naranja;
    }
  }

  .filter-buttons-activities {
      border: none;
      background-color: #ffffff00;
  }

  Button.btn-standard{
      border-radius: 25px;
      border: 2px solid $azul;
      color: $azul;
      margin: 10px;
      &:hover{
        background-color: $azul;
      }
  }

  .player-wrapper {
    position: relative;
    //padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }