// .carousel-bg {
//     height: 75vh;
//     margin: auto;

//     @media screen and (min-width: 1440px) {
//         height: 85vh;
//     }

//     @media screen and (max-width: 425px) {
//         height: auto;
//     }
    
    
// }

// .carousel-picture {

//     @media screen and (max-width: 1024px) {
//         margin-top: 0%;
//     }

//     @media screen and (max-width: 768px) {
//         margin-top: 0%;
//     }

//     @media screen and (max-width: 425px) {
//         margin-top: 15%;
//     }
// }

.CarouselIndicators {
    filter: contrast(0%);
}

.carousel-control-prev {
    z-index: 0 !important;
}

.carousel-control-next {
    z-index: 0 !important;
}

.carousel-indicators {
    z-index: 0 !important;
}

/*.carousel-bg {
        margin: auto;
}*/

.carousel-picture {
    width: 40%;
    padding: 15px;

    @media screen and (max-width: 768px) {
        width: 75%;
    }
}