.check-icon{
    border: none;
    background-color: #ffffff00;
}

.db-searchbar-container{
    width: 50%;
}

.table {
  thead {
    th {
      padding: 5px;
      background: $naranja;
    }
  }
}

tr.active{
    background-color: whitesmoke;
}

tr.no-active{
    background-color: rgb(230, 230, 230);
}