
.don-img-col {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    
}



.donacion-pic {
    width: 100%;
}

.paypal-pic {
    width: 50%;
}

.donate-button {
    transition: 0.5s;
    &:hover {
        transform: scale(1.5);
    }
}