.filtros-bar {
    padding: 1rem;
    // background-color: #eeeeee;
    // border-radius: 50px;
    // 
    // margin-bottom: 2%;
    // margin-top: 2%;

    // .filter-icons {
    //     filter: drop-shadow( 3px 3papalo
    //     px 3px);
    // }

    .filter-buttons-activities {
        border: none;
        border-radius: 50%;
        padding: 1rem;
        background-color: $blanco;
        //box-shadow: 5px 5px 10px rgb(185, 185, 185);
        transition: 0.5s;

        &:hover {
            transform: scale(1.75);
            //background-color: white;
        }
    }
}