.pictures {
   background-color: $blanco;
   padding: 1rem;
   border-radius: 500px;
   box-shadow: 5px 5px 12px rgba(128, 128, 128, 0.678);
   transition: 0.5s;

   &:hover{
       transform: scale(1.03);
   }
}

.manipulative-button {
    // background-image: linear-gradient(to bottom right, #fe8d03a1, $naranja, #eb8100);
    background-color: $naranja;
    padding: 1rem;
    border: none;
    border-radius: 25px;
    color: white;
    transition: 0.5s;
    font-size: 1.5rem;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.767);


    &:hover{
        cursor: pointer;
        transform: scale(1.03);
        background-color: $naranja-hover;
    }

}

.benefit-icon {

    
}

.third-row{
    padding-top: 5%;

    .second-manipulative-button {
        position: relative;
        top: 100px;
        background-color: #eeeeee;
        padding: 2rem;
        border-radius: 16px;
        width: 75%;
        margin: auto;
    }
}

.fourth-row {
    background-color: $blanco-oscuro;
    padding-top: 200px;
}

.fifth-row{
    padding: 5% 5%;

    .sq-pics{
        width: 100%;
    }

}

.sixth-row{
    background-color: $blanco-oscuro;
    padding: 5% 0px;
}