.marco-login {
    padding: 2rem;
    margin-top: 5%;

    .login-col{
        width: 50%;
        margin: auto;

        @media screen and (max-width: 500px) {
            width: 70%;
        }
    }

    .loginform-button {
        border: none;
        border-radius: 50px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        background-color: $naranja;
        color: white;
        width: 100%;
        padding: 1rem;
        margin-left: 10px;
        transition: 0.5s;
        
        &:hover {
            background-color: $naranja-hover;
            transform: scale(1.005);
        }
      
      }

      .first-sign-up {
          color: grey;
          text-align: left;
          

          &:hover {
            color: rgb(71, 71, 71);
            text-decoration: underline;
            
        }
      }
}