.marco-login {
    padding: 2rem;
    margin-top: 5%;

    .login-col{
        width: 50%;
        margin: auto;

        @media screen and (max-width: 500px) {
            width: 100%;
        }
    }

    .loginform-button {
        border: none;
        border-radius: 8px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 1rem;
        background-color: $naranja;
        color: white;
        width: 100%;
        padding: 0.5rem;
        transition: 0.5s;
        width: 35%;
        
        &:hover {
            background-color: $naranja-hover;
            transform: scale(1.005);
        }
    }

    .first-sign-up {
        color: grey;
        text-align: left;
          
        &:hover {
            color: rgb(71, 71, 71);
            text-decoration: underline;
        }
    }
}