.main-button {
    padding: 1rem;
    width: 100%;
    border: 3px solid $naranja;
    border-radius: 16px;
    color: $naranja;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 45px;
    transition: 0.05s;

    &:hover {
        background-color: $naranja;
        cursor: pointer;
        color: #f7f7f7;
        transform: scale(1.05);
    }
}