.App {
    text-align: center;
    /*margin: 0%;*/
    /*padding: 0px;*/
    background-color: $blanco;
    min-height: calc(100vh - 230px);
    
    // .container {
    //   background-color: $blanco;
    //   border-radius: 25px;
    //   padding: 1.5rem 1rem 0;
    //   min-height: calc(100vh - 343px);
    // }
  }
 
  .registry-span {
    color: $azul-oscuro;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  
  .search-row {
    background-color: none;
    height: 7%;
  }

  .registry-form {
    color: $naranja;
  }
  
  .form-controle {
    border: 1px solid $naranja;
    border-radius: 8px;
    color: $naranja;
    width: 100%;
    /* text-align: center; */
    /* text-transform: capitalize; */
    font-size: 1rem;
    padding: 0.5rem;
  
  }
  ::placeholder {
    color: $naranja;
    opacity: 0.65;
  }
  
  .input-1 {
    border: 2px solid $naranja;
    border-radius: 8px;
  }
  .vlc {
    vertical-align: auto;
  }
  .vl {
    /*border-left: 2px solid #B0B1A9;*/
    height: 500px;
    margin-top: 5rem;
  
    
  }
  
  p{
    color: $black;
    font-size: 16px;
    /*text-align: justify;*/
  }
  
  
  .signup-button {
    border: none;
    background-color: $naranja;
    border-radius: 8px;
    //box-shadow: 4px 8px 5px #9b9b9b4b;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
    padding: 0px 20px;
    transition: 0.5s;
        
        &:hover {
            background-color:$naranja-hover;
            transform: scale(1.005);
        }
  
  }
  
  .login-button {
    border: 1px solid $naranja;
    border-radius: 8px;
    //box-shadow: 4px 8px 5px  #9b9b9b4b;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
    padding: 0px 20px;
    transition: 0.5s;
    color: $naranja;
        
        &:hover {
            background-color: #fff0e3;
            transform: scale(1.005);
            color: white;
        }

        @media screen and (max-width: 768px) {
          margin-bottom: 10px;
        }
  
  }
  
  .navbar-className {
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  
  .create-user-button {
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: $naranja;
    color: whitesmoke;
    width: 50%;
    padding: 0.5rem;
    transition: 0.5s;

    &:hover {
      background-color: $naranja-hover;
      transform: scale(1.005);
    }

     @media screen and (max-width: 320px) {
            width: fit-content;
          }
  
  
  }


  .signup-row {
    
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
  }

  .reg-3d-pic {
    width: 100%;
  }

  .round-button {
    border: none;
    background-color: $naranja;
    border-radius: 25px;
    box-shadow: 4px 8px 5px #9b9b9b4b;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    transition: 0.5s;
        
        &:hover {
            background-color:$naranja-hover;
            transform: scale(1.05);
        }
  
  }

  .margin-page{
    margin-top: 115px;
  }