.main-button {
    padding: 1rem;
    width: 100%;
    border: 3px solid #6EA895;
    border-radius: 16px;
    color: #6EA895;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 45px;

    &:hover {
        background-color: #5AAA94;
        cursor: pointer;
        color: #f7f7f7;
        // transform: scale(1.1);
        // transition: 0.5s;
    }
}