.materias-body {
    background-color: whitesmoke;
    border: 3px solid $naranja;
    text-decoration: none;
    border-radius: 25px;
    padding: 1.5rem;
    transition: 0.5s;
    min-height: 315px;
    min-width: 200px;

    @media screen and (max-width: 1024px) {
        margin-bottom: 5px;
        min-height: 20px;
        width: 100%;
      }

    //   @media screen and (max-width: 1024px) {
    //     margin-bottom: 5px;
    //     max-height: 250px;
        
    //   }

    &:hover {
        transform: scale(1.05);
        background-color: white;
    }

    .title {
        color: $azul-oscuro;
    }

    .button {
    border: 3px solid #6EA895;
    border-radius: 16px;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;

    &:hover {
        background-color: #5AAA94;
        cursor: pointer;
        color: #c7c7c7;
        // transform: scale(1.1);
        // transition: 0.5s;
    }
    
    }

}