.pic-avatar-button {
    padding: 3rem;
    background-color: whitesmoke;
    border-radius: 50px;
    border: 2px dotted #EEBD52;
}

.upImg-button {
    border: none;
    background-color: #EEBD52;
    color: whitesmoke;
    border-radius: 25px;
    font-weight: bold;
    
}

.card-tab-body {
    border: 3px solid whitesmoke;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}