.second-row {
    background-color: #f7f7f7;

    .qs-row-1{
        text-align: left;
        font-family: 'Roboto', sans-serif;
        

    }

    .qs-row-2 {
        text-align: left;
        font-family: 'Roboto', sans-serif;
        
    }
}

// .bwwp {
//     width: 100%;
//     position: relative;
//     bottom: 0px;
//     left: 0px;;
    
// }

.bwwpCol {
    display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}