.search-input-component {
    border: none;
    background-color: #d1e2dc;
    margin-left: 1rem;
    width: 100%;
}

.search-component-bar {
    background-color: #d1e2dc;
    padding: 5px;
    border-radius: 25px;
    width: 100%;
  }

  .search-button-component {
    border: none;
    background-color: #d1e2dc;
    color: #5AAA94;
  }