$font-family: 'Roboto', sans-serif;
$azul: #58D2E0;
$azul-clarito: #c6e9ed;
$azul-oscuro: #3BB4CA;
$naranja: #FE8D03;
$naranja-hover: #985300;
$gris-claro: #EFEEF1;
$negro: #4D554F;
$amarillo: #FEC30B;
$blanco: #f9f9f9;
$blanco-oscuro: #e0e0e0;

