@charset "UTF-8";
.App {
  text-align: center;
  /*margin: 0%;*/
  /*padding: 0px;*/
  background-color: #f9f9f9;
  min-height: calc(100vh - 100px);
}

.registry-span {
  color: #3BB4CA;
  font-size: 1.5rem;
  font-weight: bold;
}

.search-row {
  background-color: none;
  height: 7%;
}

.registry-form {
  color: #FE8D03;
}

.form-controle {
  border: 1px solid #FE8D03;
  border-radius: 8px;
  color: #FE8D03;
  width: 100%;
  /* text-align: center; */
  /* text-transform: capitalize; */
  font-size: 1rem;
  padding: 0.5rem;
}

::-webkit-input-placeholder {
  color: #FE8D03;
  opacity: 0.65;
}

:-ms-input-placeholder {
  color: #FE8D03;
  opacity: 0.65;
}

::-ms-input-placeholder {
  color: #FE8D03;
  opacity: 0.65;
}

::placeholder {
  color: #FE8D03;
  opacity: 0.65;
}

.input-1 {
  border: 2px solid #FE8D03;
  border-radius: 8px;
}

.vlc {
  vertical-align: auto;
}

.vl {
  /*border-left: 2px solid #B0B1A9;*/
  height: 500px;
  margin-top: 5rem;
}

p {
  color: #363636;
  font-size: 16px;
  /*text-align: justify;*/
}

.signup-button {
  border: none;
  background-color: #FE8D03;
  border-radius: 8px;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-left: 5px;
  padding: 0px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.signup-button:hover {
  background-color: #ed7402;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}

.login-button {
  border: 1px solid #FE8D03;
  border-radius: 8px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  margin-left: 5px;
  padding: 0px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #FE8D03;
}

.login-button:hover {
  background-color: #fff0e3;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  color: white;
}

@media screen and (max-width: 768px) {
  .login-button {
    margin-bottom: 10px;
  }
}

.navbar-className {
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.create-user-button {
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: #FE8D03;
  color: whitesmoke;
  width: 50%;
  padding: 0.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.create-user-button:hover {
  background-color: #ed7402;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}

@media screen and (max-width: 320px) {
  .create-user-button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.signup-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.reg-3d-pic {
  width: 100%;
}

.round-button {
  border: none;
  background-color: #FE8D03;
  border-radius: 25px;
  -webkit-box-shadow: 4px 8px 5px #9b9b9b4b;
          box-shadow: 4px 8px 5px #9b9b9b4b;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.round-button:hover {
  background-color: #ed7402;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.margin-page {
  margin-top: 115px;
}

.CarouselIndicators {
  -webkit-filter: contrast(0%);
          filter: contrast(0%);
}

.carousel-control-prev {
  z-index: 0 !important;
}

.carousel-control-next {
  z-index: 0 !important;
}

.carousel-indicators {
  z-index: 0 !important;
}

/*.carousel-bg {
        margin: auto;
}*/
.carousel-picture {
  width: 40%;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .carousel-picture {
    width: 75%;
  }
}

.second-row {
  background-color: #e0e0e0;
  padding: 5% 5%;
}

.bwwpCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-button {
  padding: 1rem;
  width: 100%;
  border: 3px solid #FE8D03;
  border-radius: 16px;
  color: #FE8D03;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 45px;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.main-button:hover {
  background-color: #FE8D03;
  cursor: pointer;
  color: #f7f7f7;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer-container {
  background-color: #58D2E0;
  height: auto;
  padding: 1.5rem auto;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .footer-container {
    height: 100%;
  }
}

.footer-container .row {
  background-color: #58D2E0;
}

.footer-container .icons-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.footer-container .icons-div .icons {
  margin: auto;
}

.footer-container .icons-div .icons:hover {
  -webkit-filter: grayscale(1%) invert(1%) brightness(1%);
          filter: grayscale(1%) invert(1%) brightness(1%);
}

.footer-container .li-footer {
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 0px;
  margin: 0;
}

.footer-container .li-footer:hover {
  color: gray;
}

.footer-container .md-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.footer-container .donate-bttn:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.marco-login {
  padding: 2rem;
  margin-top: 5%;
}

.marco-login .login-col {
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .marco-login .login-col {
    width: 100%;
  }
}

.marco-login .loginform-button {
  border: none;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  background-color: #FE8D03;
  color: white;
  width: 100%;
  padding: 0.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 35%;
}

.marco-login .loginform-button:hover {
  background-color: #ed7402;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}

.marco-login .first-sign-up {
  color: grey;
  text-align: left;
}

.marco-login .first-sign-up:hover {
  color: #474747;
  text-decoration: underline;
}

.don-img-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.donacion-pic {
  width: 100%;
}

.paypal-pic {
  width: 50%;
}

.donate-button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.donate-button:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.materias-body {
  background-color: #f8f9f9;
  border: 2px solid #efefef;
  text-decoration: none;
  border-radius: 15px;
  padding: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  min-height: 315px;
  min-width: 200px;
}

@media screen and (max-width: 1024px) {
  .materias-body {
    margin-bottom: 5px;
    min-height: 20px;
    width: 100%;
  }
}

.materias-body:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: whitesmoke;
}

.materias-body .title {
  color: #3BB4CA;
}

.materias-body .button {
  border: 3px solid #6EA895;
  border-radius: 16px;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.materias-body .button:hover {
  background-color: #5AAA94;
  cursor: pointer;
  color: #c7c7c7;
}

.materias-body .icon-materia-button {
  border: none;
  background-color: #ffffff00;
}

.search-input-component {
  background-color: white;
  border: none;
  margin-left: -1px;
  padding: 5px;
  border-radius: 25px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
}

.search-input-component:focus {
  outline: none;
}

.search-input-component :placeholder-shown {
  color: yellowgreen;
}

.search-component-bar {
  background-color: white;
  border: 1px solid #FE8D03;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  border-radius: 8px;
  padding: 0.25rem;
}

.search-button-component {
  border: none;
  background-color: white;
  color: #58D2E0;
  border-radius: 25px;
}

.pic-avatar-button {
  padding: 1.5rem;
  background-color: white;
  border-radius: 50px;
  border: 2px dotted #bbbbbb;
}

.pic-avatar-button img {
  width: 100%;
}

.upImg-button {
  border: none;
  background-color: #bbbbbb;
  color: white;
  border-radius: 25px;
  font-weight: bold;
}

.upImg-button.active {
  background-color: #FE8D03;
}

.card-tab-body {
  border: 3px solid white;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

svg path {
  fill: #999999;
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
  border: 1px solid grey;
}

​
.example-thumb {
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 5px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

​
.example-thumb.active {
  background-color: grey;
}

​
.example-track {
  position: relative;
  background: #ddd;
}

​
.example-mark {
  width: 8px;
  height: 8px;
  border: 2px solid #000;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}

​
.horizontal-slider .example-track {
  top: 20px;
  height: 10px;
}

.horizontal-slider .example-thumb {
  top: 1px;
  width: 50px;
  height: 48px;
  line-height: 38px;
}

.horizontal-slider .example-mark {
  margin: 0 calc(25px - 6px);
  bottom: calc(50% - 6px);
}

.tabs-box {
  border-top-right-radius: 25px;
  border-top: 2px solid gray;
}

.check-icon {
  border: none;
  background-color: #ffffff;
}

.db-searchbar-container {
  width: 50%;
}

.table thead th {
  padding: 5px;
  background: #ffbc6b;
}

.activities-card {
  height: auto;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: whitesmoke;
  border: 2px solid #efefef;
  text-decoration: none;
  border-radius: 15px;
  padding: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  min-width: 200px;
}

.activities-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: whitesmoke;
}

.activities-card .activity-detail-Link {
  color: #4D554F;
}

.activities-card .activity-detail-Link:hover {
  color: #FE8D03;
}

.plus-icon {
  border: none;
  border-radius: 50%;
  background-color: #f9f9f9;
  -webkit-box-shadow: 2px 2px 5px #b9b9b9;
          box-shadow: 2px 2px 5px #b9b9b9;
  display: inline-block;
}

a.plus-icon {
  padding: 1px 4px;
}

.add-act-button {
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 4px 8px 5px  #9b9b9b4b;
          box-shadow: 4px 8px 5px  #9b9b9b4b;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  padding: 5px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #FE8D03;
}

.add-act-button:hover {
  background-color: #a1a1a1;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}

@media screen and (max-width: 425px) {
  .add-act-button {
    margin-bottom: 10px;
  }
}

Button.butn-standard {
  border-radius: 25px;
  border: 2px solid #58D2E0;
  color: #58D2E0;
  margin: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: whitesmoke;
}

Button.butn-standard:hover {
  background-color: #a1a1a1;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}

.player-wrapper {
  position: relative;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.actividades-row {
  padding: 5% 5%;
}

.some-padding {
  padding: 5% 5%;
}

.warning-bar {
  background-color: #c6e9ed;
  border-radius: 25px;
}

.warning-bar .warning-content {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.filtros-bar {
  padding: 1rem;
}

.filtros-bar .filter-buttons-activities {
  border: none;
  border-radius: 50%;
  padding: 1rem;
  background-color: #f9f9f9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.filtros-bar .filter-buttons-activities:hover {
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
}

.lectura-content-col {
  max-height: 750px;
  border: none;
  border-radius: 25px;
}

.lectura-content-col p {
  font-size: 2rem;
}

.preview-pdf-div {
  padding: 1rem;
  border: 2px dotted #FE8D03;
  border-radius: 25px;
  position: relative;
}

.preview-pdf-div:hover .image {
  opacity: 0.3;
}

.preview-pdf-div:hover .middle-pdf-preview {
  opacity: 1;
}

.preview-pdf-div .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.preview-pdf-div .middle-pdf-preview {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.preview-pdf-div .middle-pdf-preview .text-pdf-preview {
  background-color: #ed7402;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 25px;
}

.titles {
  color: #4D554F;
}

.pictures {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 500px;
  -webkit-box-shadow: 5px 5px 12px rgba(128, 128, 128, 0.678);
          box-shadow: 5px 5px 12px rgba(128, 128, 128, 0.678);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pictures:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.manipulative-button {
  background-color: #FE8D03;
  padding: 1rem;
  border: none;
  border-radius: 25px;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.5rem;
  -webkit-box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.767);
          box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.767);
}

.manipulative-button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: #ed7402;
}

.sq-pics {
  width: 100%;
}

.third-row {
  padding: 5% 5%;
}

.third-row .second-manipulative-button {
  position: relative;
  top: 100px;
  background-color: #eeeeee;
  padding: 2rem;
  border-radius: 16px;
  width: 75%;
  margin: auto;
}

.fourth-row {
  background-color: #e0e0e0;
  padding-top: 200px;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.fifth-row {
  padding: 5% 5%;
}

.sixth-row {
  background-color: #e0e0e0;
  padding: 5% 5%;
}
/*# sourceMappingURL=style.css.map */